#box1 {
    background-color: grey;
    width: 50%;
    height: 20em;
    padding: 2em;
    margin: 20px;
    position: relative;
}

#box2 {
    background-color: red;
    width: 30em;
    height: 6em;
    padding: 1em;
    margin: 0; 
    border: 15px solid green;
    position: absolute;
    top: 0; 
    left: 0; 
}

#box3 {
    background-color: blue;
    width: 3em;
    height: 5em;
    padding: 1em;
    margin: 0; 
    position: absolute;
    bottom: 0;
    right: 0;
}